---
import Project from '../Project.astro';

const projects = [
  {
    imageUrl: '/logo_o-calm.png',
    title: 'o-calm.fr',
    type: 'Website',
    link: 'https://o-calm.fr'
  },
  {
    imageUrl: '/logoAmicado.png',
    title: 'amicado.fr',
    type: 'Website',
    link: 'https://amicado.fr'
  },
];
---

<section class="bg-background">
    <div class="container px-6 py-8 mx-auto">
        <h1 class="text-3xl font-semibold text-center capitalize lg:text-4xl">
            Mes projets
        </h1>

        <p class="mt-4 text-center text-offset">
            
        </p>

        <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 md:grid-cols-2 xl:grid-cols-3">
            {projects.map(project => (
                <Project
                    imageUrl={project.imageUrl}
                    title={project.title}
                    type={project.type}
                    link={project.link}
                />
            ))}
        </div>
    </div>
</section>
